---
import Logo from './Logo.astro';
import NavLinks from './NavLinks.astro';
import ContactItem from './ContactItem.astro';

const { phone, email, address } = Astro.props;
---
<footer class="bg-base-200 text-base-content">
  <div class="footer sm:footer-horizontal justify-between max-w-7xl mx-auto px-4 py-10">
    <aside>
      <Logo />
    </aside>
    <nav>
      <NavLinks />
    </nav>
    <address class="not-italic">
      <ContactItem name="phone" text={phone} href={`tel:${phone}`} />
      <ContactItem name="email" text={email} href={`mailto:${email}`} />
      <ContactItem
        name="address"
        text={address}
        href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address)}`}
      />
    </address>
  </div>
  <div class="border-base-300 border-t">
    <p class="max-w-7xl mx-auto px-4 py-4 text-center text-sm">© 2026 Industrias Proba SA. Todos los derechos reservados.</p>
  </div>
</footer>
