---
import Logo from './Logo.astro';
import NavLinks from './NavLinks.astro';
import ContactItem from './ContactItem.astro';

const { title, phone, email, address } = Astro.props;
---
<footer class="bg-base-200 text-base-content">
  <div class="footer sm:footer-horizontal p-10">
    <aside>
      <Logo />
    </aside>
    <nav>
      <NavLinks />
    </nav>
    <nav>
      <ContactItem name="phone" text={phone} href={`tel:${phone}`} />
      <ContactItem name="email" text={email} href={`mailto:${email}`} />
      <ContactItem
        name="address"
        text={address}
        href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address)}`}
      />
    </nav>
  </div>
  <div class="footer footer-center border-base-300 border-t px-10 py-4">
    <aside>
      <p>© 2026 Industrias Proba SA. Todos los derechos reservados.</p>
    </aside>
  </div>
</footer>
