---
import '../styles/global.css';
import '@fontsource-variable/inter';
import '@fontsource-variable/montserrat';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title: pageTitle } = Astro.props;
const isHome = Astro.url.pathname === '/';
const siteName = 'Industrias Proba SA';
const title = pageTitle ? `${pageTitle} | ${siteName}` : siteName;
const phone = '+54 11 4454 7857';
const email = 'direccion@industriasproba.com.ar';
const address = 'DWB Lomas del Mirador Buenos Aires AR, Cabrera 92, B1752, Argentina';
---
<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
 <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png" />
 <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png" />
 <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png" />
 <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
 <link rel="manifest" href="/favicon_io/site.webmanifest" />
</head>
<body>
  <Header />
  <main class:list={[!isHome && "pt-16 min-h-screen"]}>
    <slot />
  </main>
  <Footer
    phone={phone}
    email={email}
    address={address}
  />
</body>
</html>

